/*

!/wp-content
/wp-content/*

!/wp-content/themes
/wp-content-themes/*

!/wp-content/themes/acask

/wp-content/themes/acask/bower_components
/wp-content/themes/acask/node_modules

!.gitignore
!composer.json
!composer.lock


!wp-content/themes/acask/