.card .back{
	display:none;
}

@media only screen and (min-width: $large-breakpoint) {
	.card-container { 
	  position: relative;
	  perspective: 1000px;
	  min-height:150px;
	}

	.card {
	  position: absolute;
	  transform-style: preserve-3d;
	  transition: transform 0.75s;
	  width: 98%;
	  height: 100%;
	}

	.card{
		.front, .back{
			  display: block;
			  position: absolute;
			  width: 100%;
			  height:100%;
			  backface-visibility: hidden;
		}
	}

	.card .back {
	  transform: rotateY( 180deg );
	  background-color:$primary-color;

	  h2 {
	  	color:$white;
	  	text-align:center;
	  	padding-top:15%;
	  }
	}

	.card-container:hover .card{
			
		transform: rotateY( -180deg );

	}
}