#homepage-hero {
	background: url("http://foundation.zurb.com/assets/img/marquee-stars.svg") repeat scroll 0 0 #074E68;
	padding: rem-calc(20) 0;
	margin: - rem-calc(32) 0 rem-calc(32);
	position: relative;
	text-align: left;
	height: auto;

		h1 { font-weight: 500; }

		h1 a, h4 { color: #fff; }

		.floatingyeti img {
			max-width: 30%;
			position: absolute;
			right: rem-calc(100);
		}

		.download { margin-top: rem-calc(20); }
	}

.hero-banner{
	position:relative;
	border-top:1px solid $dark-text;

	.hero-cta {
		position:absolute;
		font-size:1.4em;
		font-weight:200;
		color: $dark-text;
		width:33%;
		left:58%;
		bottom: 25%;
		text-align:left;
	}
}

.hero-cta {
	position:absolute;
	font-size:2em;
	font-weight:800;
	color: #fff;
	width:50%;
	left:25%;
	bottom: 25%;
	text-align:center;
	@include vendor(transition-delay, 1s);
	@include vendor(transition, all 1s);

}

.hero-banner .hero-cta{	
	@include vendor(transform, translateX(1000px));
}

body.loaded .hero-banner .hero-cta{
	@include vendor(transform, translateX(0px));
}


.slider-container .slider__slide .hero-cta {
	@include vendor(opacity, 0);

}

body.loaded .slider__slide.active .hero-cta {
		@include vendor(transition-delay, 1s);
	@include vendor(opacity, 1);
}

@media only screen and (max-width: $medium-breakpoint) {
	.hero-cta {
		font-size:$rem-base*1.5;
	}
}