/* sorry for all the important overrides here. Everything was going smoothly until I needed only the 
dropdown functionality from foundations topbar. It's very insistent on it's styling (bloody mess) */

.menu-primary-nav-container {
	font-weight:500;
	display:inline-block;
	li{
		margin-left:0px;
		padding:($rem-base*1.375)/2;
	}
	li a{
		padding:0px;
		font-size:16px;
		line-height:16px;
		font-family: 'Roboto', sans-serif;
		color:$primary-color;
		font-weight:400;

		@include vendor(transition, all 0.15s);

		&:hover {
			color: lighten($primary-color, 20%);
		}

	}

	ul{
		display:block;
		margin-left:-($rem-base*1.375)/2;
		margin-top:0px;
		margin-bottom:0px;
	}

}





@media only screen and (min-width: $large-breakpoint) {
	.menu-primary-nav-container {	
		li a{
			font-size:18px;
			line-height:18px;
		}
	}
}




// sidebar

#sidebar{
	padding-left:$rem-base;
	padding-right:$rem-base;
	border-left: solid 1px $gainsboro;
	ul{
		margin-left:0px;

		li{
			list-style:none;
			a {
				&:hover{

					color: $body-font-color;

				}
			}
		}
	}

	h4{
		font-size:rem-calc(18);
		font-weight:600;
		color:darken($primary-color, 10%);
	}

	p, ul, li {
		font-size:rem-calc(16px);
		font-weight:600;

		a{
			color:darken($primary-color, 10%);
		}
	}

	ul.child-terms {

		li {
			font-size:rem-calc(14px);
		}
	}
}

//offcanvas

.offcanvas__search--wrapper{
	position:relative;
	h3{
		color:$white;
		font-size:$rem-base*1.25;
	}
	.btn.btn--expand{
		max-width:203px;
	}

}

.menu-primary--offcanvas{
	list-style:none;
	padding:$rem-base/2;
	li a{
		font-size:20px;
		margin-bottom:8px;
		color:$white;
	}
}